<head>
		<link rel="stylesheet" href="../../node_modules/ONS-Pattern-Library/dist/css/main.min.css"/>
  	<script src="../../node_modules/ONS-Pattern-Library/dist/js/header.js"></script>
</head>

<div class="page-header slate">
    <div class="wrapper">
        <h1 class="page-header__title flush--half--bottom">{{title}}</h1>

        <p>{{lede}}
		<br/>
        <a href="#">Browse our statistics<span class="icon-right-open-big"></span></a></p>
  </div>
    <!-- / wrapper -->
</div>
<!-- panel -->
<div class="wrapper panel--mar">
    <!-- grid-wrap -->
    <div class="grid-wrap grid-wrap--home-hero panel--separated--bottom">
      <!-- grid-col -->
        {{#each highlightedData}}
        <div class="grid-col grid-col--home-hero tablet-wide-grid-one-fifth">
            <article class="nav-panel nav-panel--stats nav-panel--home-hero sectioned">
                <a href="#">Stat link, apply to whole panel<span class="[navpanel_wrapper_home__link]"></span></a>
                {{#each items}}
                <header class="nav-panel__header nav-panel__roomy">
                    <h2 class="delta flush">{{name}}</h2>
                </header>
                <div class="nav-panel__roomy">
                    <ul class="list--neutral">
                        <li class="nav-panel__item">
                            <dl>
                                <dd class="nav-panel__value">
                                    <div class="stat stat--small">
                                        <div class="stat__figure">
                                            {{#if prefixUnit}}
                                            <span class="stat__figure__unit">{{prefixUnit}}</span>
                                            {{/if}}
                                            {{this.figure}}
                                            <span class="stat__figure__unit">{{unit}}</span>
                                        </div>
                                        <div class="stat__description">
                                            {{this.releaseDate}}
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </li>
                        <li class="nav-panel__item [homeicon_sparkline]">
                            <div style="height:30px"></div>
                            <div class="box">
                                <div>
                                    [Sparkline goes here]
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                {{/each}}
                <footer class="nav-panel__footer">
                    <div class="nav-panel__action">
                        <a class="nav-panel__roomy" href="#">View all {{this.name}}</a>
                    </div>
                </footer>
            </article>
            <!-- grid-col -->
        </div>
        {{/each}}
        <!-- /grid-wrap -->
        </div>
        <!-- /panel-->
    </div>
</div>

<div class="panel wrapper panel--separated--bottom">
    <h2 class="delta flush">New this week</h2>
    <div class="grid-wrap">
        <ul class="list--neutral">
            {{#each releases}}
				<li class="grid-col desktop-grid-one-third">
					<h3><a href="{{link}}" title="{{name}}">{{name}}</a></h3>
					<p>
                        {{description}}
					</p>
				</li>
            {{/each}}
        </ul>
        <!-- /grid-wrap -->
    </div>
    <a href="#">View new and upcoming releases</a>
    <!-- /section -->
</div>
<!-- wrapper -->
<div class="wrapper panel--mar">
    <div class="grid-wrap">
		{{#each highlightedContent}}
        <div class="grid-col box--padded-vertical nav--block-home-highlighted-content">
			<h2 class="delta flush--half">{{name}}</h3>
            <article class="box flush--half--bottom">
                <div class="box__inner border box--padded">
                    <div class="box__section">
                        <h3 class="box__section__header">
                            Image here
                        </h3>
                    </header>
                    <!-- /box__header -->
                    <div class="box__content">
                            <a href="#">Link</a>
                    </div>
                    <!-- /box__content -->
                </div>
                <!-- /box__inner -->
            </article>

            <p class="flush--half">{{description}}</p>
        </div>
		{{/each}}
	</div>
    <!-- /grid-wrap -->
</div>

<script src="../../node_modules/ONS-Pattern-Library/dist/js/footer.js"></script>
