{{> partials/header}}
<div class="page-header slate">
	<div class="wrapper">
		{{> partials/breadcrumb}}
		<h1 class="page-header__title flush--half--bottom">{{title}}</h1>
		<div class="content-reveal lede">
			<p>
				{{summary}}
				<a href="#" class="content-reveal__action hidden" data-content-reveal>See more</a>
			</p>
		</div>
		<div class="page-header__icons">
			<a href="#" class="link-complex">
				<span class="icon icon-twitter icon--grey">
					<span class="visuallyhidden">Share on Twitter</span>
				</span>
			</a>
			<a href="#" class="link-complex">
				<span class="icon icon-facebook icon--grey">
					<span class="visuallyhidden">Share on Facebook</span>
				</span>
			</a>
			<a href="#" class="link-complex">
				<span class="icon icon-gplus icon--grey">
					<span class="visuallyhidden">Share on Google Plus</span>
				</span>
			</a>
		</div>
	</div>
	<!-- /wrapper -->
</div>
<!-- /page-header -->

<div class="wrapper box box--padded-vertical">
	<div class="grid-wrap">
		<ul class="list--neutral">
		{{#each sections}}
            <li class="grid-col desktop-grid-one-third box--padded-vertical nav--block-landing">
             	<h3>
					<a href="{{uri}}">{{title}}</a>
				</h3>
				<p>{{summary}}</p>
			</li>
		{{/each}}
		</ul>
		<div class="grid-col tablet-grid-one-third nav--block-landing clear-left">
				<article class="box box--orange">
					<div class="box__inner border box--padded has-icon box--orange--separated-left">
						<header class="box__header">
							<h2 class="gamma">
								<a href="#">Looking for local statistics?</a>
							</h2>
						</header>
						<div class="box__content">
							<p>
								A handy guide to let you know where to find local statistics.
							</p>
						</div>
						<!-- /box__content -->
					</div>
					<!-- /box-inner -->
				</article>
				<!-- /box -->
			</div>
			<!-- /grid-col -->
	</div>
	<!-- /grid-wrap -->
</div>
<!-- /wrapper -->
